In [1]:
# A company started to invest in digital marketing as a new way of their product promotions. For that they 
# collected data and decided to carry out a study on it.

# ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.


# ● The company needs to check whether there is any dependency between the  features “Region” and “Manager”.
# Help the company to carry out their study with the help of data provided.

In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from scipy.stats import chi2_contingency
 


df=pd.read_csv('sales_add.csv')
print(df.to_string())

       Month      Region      Manager  Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
0    Month-1  Region - A  Manager - A                          132921                         270390
1    Month-2  Region - A  Manager - C                          149559                         223334
2    Month-3  Region - B  Manager - A                          146278                         244243
3    Month-4  Region - B  Manager - B                          152167                         231808
4    Month-5  Region - C  Manager - B                          159525                         258402
5    Month-6  Region - A  Manager - B                          137163                         256948
6    Month-7  Region - C  Manager - C                          130625                         222106
7    Month-8  Region - A  Manager - A                          131140                         230637
8    Month-9  Region - B  Manager - C                          171259                         226261
9   Month-10  Region - C  Manager - B                          141956                         193735
10  Month-11  Region - B  Manager - C                          159339                         203175
11  Month-12  Region - A  Manager - A                          178939                         276279
12  Month-13  Region - B  Manager - A                          145062                         205180
13  Month-14  Region - A  Manager - A                          151514                         253131
14  Month-15  Region - C  Manager - A                          147463                         229336
15  Month-16  Region - A  Manager - B                          177195                         187305
16  Month-17  Region - A  Manager - C                          140862                         234908
17  Month-18  Region - C  Manager - B                          167996                         191517
18  Month-19  Region - B  Manager - A                          132135                         227040
19  Month-20  Region - A  Manager - B                          152493                         212579
20  Month-21  Region - B  Manager - A                          147425                         263388
21  Month-22  Region - A  Manager - C                          130263                         243020

In [9]:
contigency_table=pd.crosstab(df['Region'],df['Manager'])
contigency_table

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [32]:
stat, p, dof, expected = chi2_contingency(contigency_table)

print("The Test chi-square value is :",stat)
print("\nThe p-Value is :",p )
print("\nThe Degree of freedom is : ",dof)

The Test chi-square value is : 3.050566893424036

The p-Value is : 0.5493991051158094

The Degree of freedom is :  4

In [16]:
contingency_table = pd.crosstab(df['Region'], df['Manager'])
chi2, p_value1, dof, exp_values = chi2_contingency(contingency_table)
p_value1

0.5493991051158094

In [30]:
exp_values

array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]])

In [21]:
from scipy.stats import ttest_rel

t_score, p_value = ttest_rel(df['Sales_before_digital_add(in $)'], df['Sales_After_digital_add(in $)'])

In [22]:
t_score

-12.09070525287017

In [42]:
print("There is no dependency between the  features Region and Manager")

there is no dependency between the  features Region and Manager